.board {
  display: grid;
  grid-template-columns: repeat(8, 0fr);
  grid-template-rows: repeat(8, 0fr);
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 5px solid #333;
  border-bottom: 5px solid #333;
  border-left: 5px solid #dcdcdc;
  border-top: 5px solid #dcdcdc;
  cursor: pointer;
}

.cellRevealed {
  width: 58px;
  height: 58px;
  color: white;
  text-align: center;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: not-allowed;
  font-weight: 700;
  font-size: 25px;
}

.errorCell {
  width: 58px;
  height: 58px;
  color: white;
  text-align: center;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: not-allowed;
  font-weight: 700;
}

.cell:hover {
  opacity: 0.8;
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px #888888;
  background-color: lightgray;
  padding: 30px 50px 50px 50px;
}

.statusBar {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  background-color: grey;
  color: white;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 200px;
  border-radius: 10px;
  background-color: white;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}